@keyframes appear {
  0% {
    opacity: 0%;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
  }
}

@keyframes save_message {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.table_main {
  border: none;
  border-collapse: collapse;
  font-size: 15px;
  animation: appear;
  animation-duration: 300ms;
  transition: all 150ms ease-in-out;
  border-radius: 10px;
  width: 100%;
}

.table_main:hover {
  box-shadow: 0 0 10px rgba(228, 228, 228, 0.6);
}

.table_container {
  margin: 0 auto;
}

th, td {
  border: 1px solid rgb(224, 224, 224);
}

th {
  font-weight: 500;
  padding: 5px 10px;
}

.main_container {
  width: 75%;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.page_title {
  font-weight: 600;
  font-size: 18px;
}

.save_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.saved_msg {
  opacity: 0;
  background-color: rgb(201, 243, 213);
  color: rgb(94, 152, 112);
  padding: 3px 15px;
  text-align: center;
  margin-right: 15px;
  border-radius: 5px;
  font-size: 14px;
  animation: save_message;
  animation-duration: 2000ms;
}

.save_btn {
  background-color: rgb(75, 141, 241);
  color: #fff;
  padding: 6px 15px;
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.save_btn:hover {
  opacity: 0.8;
}

.save_btn:disabled {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 750px) {

  .table_main:hover {
    box-shadow: none;
  }

  .table_main {
    font-size: 11px;
  }

  .main_container {
    width: 100%;
    margin: 0 auto;
  }

  .table_container {
    overflow-x: auto;
  }

  .saved_msg {
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    padding: 8px 22px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 0 8px rgba(131, 131, 131, 0.18);
  }

  .save_btn:hover {
    opacity: 1;
  }
}