.container_grid {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 10px;
}

@media (max-width: 1130px) {
  .container_grid {
    grid-template-columns: auto;
    width: 100%;
  }
}