ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 25px 0 35px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.title {
  font-weight: 600;
  margin: auto 0;
  text-align: center;
  font-size: 18px;
  color: rgb(43, 107, 235);
}

.menu_item {
  transition: all 150ms ease-in-out;
}

.menu_item:hover {
  transform: translateY(4px);
}

.button_link {
  padding: 5px 15px;
  margin: auto 0;
  box-shadow: 0px 4px 6px rgba(153, 153, 153, 0.3);
  border-radius: 7px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.home_button {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(105, 105, 105);
  background-color: #fff;
}

.home_button:hover {
  box-shadow: 0px 0px 6px rgba(207, 207, 207, 0.268);
  border: 1px solid rgb(238, 238, 238);
  color: #000;
}

.home_button:active {
  opacity: 0.5;
}

.dashboard_button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(100, 152, 255);
}

.dashboard_button:hover {
  background-color: rgb(94, 142, 237);
  box-shadow: 0px 0px 10px rgba(94, 142, 237, 0.8);
  border: 1px solid rgb(94, 142, 237);
  color: #fff;
}

.dashboard_button:active {
  opacity: 0.5;
}

.dark_button {
  background-color: #2b323c;
  color: #fff;
  border: 1px solid #39424e;
  box-shadow: 0px 2px 5px #39424e;
}

.dark_button:hover {
  color: #fff;
  box-shadow: none;
  border: 1px solid #39424e;
}

.right_side {
  display: flex;
  align-items: center;
}

.theme_toggle {
  padding: 5px 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgb(242, 242, 242);
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.theme_toggle:hover {
  background-color: rgb(242, 242, 242);
}

.dark_theme_toggle {
  background-color: #39424e;
  border: 1px solid #465364;
}

.dark_theme_toggle:hover {
  background-color: #465364;
}

@media (max-width: 750px) {
  .title {
    display: none;
  }
  .button_link {
    padding: 5px 15px;
    margin: auto 0;
    box-shadow: none;
    border-radius: 7px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: none
  }

  .home_button, .home_button:hover {
    border: 1px solid rgb(238, 238, 238);
    color: #000;
    box-shadow: none;
  }

  .home_button:active {
    opacity: none;
  }

  .dashboard_button, .dashboard_button:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    color: #000;
    box-shadow: none;
  }

  .dashboard_button:active {
    opacity: none;
  }

  .menu_item {
    transition: none;
  }

  .menu_item:hover {
    transform: none;
  }

  .dark_button {
    background-color: #2b323c;
    color: #fff;
    border: 1px solid #39424e;
  }

  .dark_button:hover {
    color: #fff;
    box-shadow: none;
    border: 1px solid #39424e;
    background-color: #2b323c;
  }
}