.container {
  background-color: #ffffff;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 8px;
  min-height: 250px;
  cursor: pointer;
  padding: 5px 15px;
  transition: all 150ms ease-in-out;
}

.container:hover {
  box-shadow: 0 0 8px rgba(228, 228, 228, 0.6);
  transform: scale(1.02);
}

.title {
  font-weight: 500;
  font-size: 18px;
  color: rgba(49, 50, 58, 0.6);
  margin: 3px 0;
  transition: all 150ms ease-in-out;
}

.container:hover .title {
  color: rgb(49, 50, 58);
}