.single_note_container {
  width: 80%;
  margin: 0 auto;
}

.single_note_container h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.single_note_container .descr_cont {
  color: rgb(81, 90, 106);
}

.single_note_container .descr_txt {
  font-weight: 500;
}

.single_note_container article {
  margin-top: 20px;
  text-align: justify;
}

.single_note_container .date_text {
  color: rgb(107, 107, 107);
  font-size: 14px;
  margin-bottom: 20px;
}

.single_note_container .info_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.single_note_container .edit_link {
  text-decoration: none;
  color: #fff;
  background-color: rgb(49, 54, 67);
  opacity: 0.8;
  height: 30px;
  width: 70px;
  text-align: center;
  padding: 2px 8px;
  border-radius: 7px;
  transition: all 150ms ease-in-out;
}

.single_note_container .edit_link:hover {
  opacity: 1;
}

.single_note_container .back_link {
  background-color: rgb(49, 54, 67);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  border-radius: 7px;
  opacity: 0.8;
  transition: all 150ms ease-in-out;
}

.single_note_container .back_link:hover {
  opacity: 1;
}